<div class="bottomMenu">
  <a href="{{ url("camera_index") }}" class="bottomMenu__camera">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23.077" viewBox="0 0 30 23.077">
      <path id="camera-solid" d="M12.808,6l-.361.469-1.37,1.839H3V29.077H33V8.308H24.923l-1.37-1.839L23.192,6Zm1.154,2.308h8.077l1.37,1.839.361.469h6.923V26.769H5.308V10.615h6.923l.361-.469ZM8.769,11.769a1.154,1.154,0,1,0,1.154,1.154A1.156,1.156,0,0,0,8.769,11.769Zm9.231,0a6.923,6.923,0,1,0,6.923,6.923A6.942,6.942,0,0,0,18,11.769Zm0,2.308a4.615,4.615,0,1,1-4.615,4.615A4.6,4.6,0,0,1,18,14.077Z" transform="translate(-3 -6)" fill="#ffc225"/>
    </svg>
  </a>

  <a href="{{ url("map_index") }}" class="bottomMenu__map">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30.664" viewBox="0 0 30 30.664">
      <path id="map-marked-alt-solid" d="M26.5,3A7.521,7.521,0,0,0,19,10.5a10.059,10.059,0,0,0,1.094,3.906,43.9,43.9,0,0,0,2.188,4.258c1.592,2.744,3.2,5.039,3.2,5.039L26.5,25.188,27.516,23.7s1.611-2.295,3.2-5.039a43.9,43.9,0,0,0,2.188-4.258A10.059,10.059,0,0,0,34,10.5,7.521,7.521,0,0,0,26.5,3ZM13.961,5.422,4,9.68V33.664l10.039-4.336,10,3.75L34,28.82v-10.9c-.8,1.528-1.68,2.993-2.5,4.3V27.18l-6.25,2.656V27.8l-1.836-2.656c-.2-.283-.425-.62-.664-.977v5.781l-7.5-2.812V8.547l1.367.508a9.816,9.816,0,0,1,.664-2.422ZM26.5,5.5a4.985,4.985,0,0,1,5,5,9.317,9.317,0,0,1-.859,2.891,43.337,43.337,0,0,1-2.109,4.023c-1.021,1.758-1.46,2.383-2.031,3.242-.571-.859-1.011-1.484-2.031-3.242a43.337,43.337,0,0,1-2.109-4.023A9.317,9.317,0,0,1,21.5,10.5,4.985,4.985,0,0,1,26.5,5.5ZM12.75,8.625V27.18L6.5,29.836V11.32Zm13.75,0A1.875,1.875,0,1,0,28.375,10.5,1.875,1.875,0,0,0,26.5,8.625Z" transform="translate(-4 -3)" fill="#ffc225"/>
    </svg>
  </a>


  <div class="bottomMenu__profil">
    <svg xmlns="http://www.w3.org/2000/svg" width="22.727" height="25" viewBox="0 0 22.727 25">
      <path id="user-solid" d="M17.364,5a7.957,7.957,0,0,0-4.439,14.56A11.4,11.4,0,0,0,6,30H8.273a9.091,9.091,0,0,1,18.182,0h2.273A11.4,11.4,0,0,0,21.8,19.56,7.957,7.957,0,0,0,17.364,5Zm0,2.273a5.682,5.682,0,1,1-5.682,5.682A5.664,5.664,0,0,1,17.364,7.273Z" transform="translate(-6 -5)" fill="#ffc225"/>
    </svg>
  </div>
</div>