body {
    overflow: hidden;
}
canvas {
    display: none;
}

video {
    max-width: 100vw;
    background: red;
}
img {
    max-width: 100%;
}
.camera {
    position: fixed;
    z-index: 4;
    bottom: 55px;
}
.camera__controls {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 100vw;
}
#camera__takaPicture {
    height: 65px;
    width: 65px;
    border: 2px solid white;
    border-radius: 100%;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#camera__takaPicture .camera__takaPictureInside {
    height: 55px;
    width: 55px;
    background: white;
    border-radius: 100%;
}
#camera__changeCamera {
    margin: 20px 20px 0 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 65px;
}

#camera__output {
    position: fixed;
    bottom: 60px;
    width: 100vw;
    display: none;
}
#camera__output img {
    object-fit: contain;
}
.camera_bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.camera_bg video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.camera__outputMenu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(50, 50, 50, 0.6);
}
.camera__outputMenu .cancel {
    color: white;
}
.camera__outputMenu .publish {
    color: var(--brand-orange);
}
