* {
    font-family: "europa", sans-serif;
    box-sizing: border-box;
    --brand-orange: #ffc225;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none;
}
#wrapper {
    width: 100%;
    max-width: 375px;
    height: 812px;
    margin: 0 auto;
}

.btnPrimary {
    font-size: 20px;
    padding: 8px 30px;
    background: var(--brand-orange);
    border: none;
    color: white;
}

.bg {
    /* -60px to not superpose with the bottom menu */
    height: calc(100vh - 60px);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(50, 50, 50, 0.6);
}
