<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SIM{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link href="{{ asset('assets/css/global.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/menu.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/camera.css') }}" rel="stylesheet">
            
            <link rel="stylesheet" href="https://use.typekit.net/kjj6fvl.css">
            
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/camera.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        {% include '/_partial/menu/bottomMenu.html.twig' %}
    </body>
</html>
